footer.footer
	.wrapper--big
		.footer__cont
			.footer__copy 2018 © «ЭкранПРО»

			.footer__soc
				.soc

					.soc__item
						a(href="").soc__link
							span 
								include ../../img/instagram.svg
					.soc__item
						a(href="").soc__link
							span 
								include ../../img/facebook.svg
					.soc__item
						a(href="").soc__link
							span 
								include ../../img/vk.svg
			.footer__devaloper
				a.developer(href="#")
					span.developer__img
						include ../../img/ico-dev.svg
