header.head
	.wrapper--big
		.head-cont
			.head-logo
				a.logo(href="#")
					span
						include ../../img/logo.svg

			.wrapper-head-link
				.wr-head-link
					.head-link
						a(href="#") Авторизованный партнер LG Electronics
					.head-link
						a(href="#") Сертификат ISO 9001
			.head-phone
				a(href="tel: 88043336895 ") 8 804-3336-895
			

			.nav
				.nav__list
					.nav__item.active
						a(href="#").nav__link О компании
					.nav__item
						a(href="#").nav__link Услуги
					.nav__item
						a(href="#").nav__link Портфолио
					.nav__item
						a(href="#").nav__link Контакты
				
