header.head
	.wrapper--big
		.head-cont
			.head-logo
				a.logo(href="#")
					span 
						include ../../img/logo.svg

			.wrapper-head-link
				.wr-head-link
					.head-link
						a(href="#") Авторизованный партнер LG Electronics 
					.head-link
						a(href="#") Сертификат ISO 9001
			.head-phone
				a(href="tel: 88043336895 ") 8 804-3336-895
			.burger
				span

.main-nav
	.burger
		span
	.main-nav__logo
		span
			include ../../img/logo-mobile.svg
	.main-nav__cont
		.main-nav__el
			.main-nav__title Меню
			.main-nav__list
				.main-nav__item
					a(href="#").main-nav__link О компании
				.main-nav__item
					a(href="#").main-nav__link Услуги
				.main-nav__item
					a(href="#").main-nav__link Портфолио
				.main-nav__item
					a(href="#").main-nav__link Контакты
		.main-nav__el
			.main-nav__title Услуги
			.main-nav__list
				.main-nav__item
					a(href="#").main-nav__link.blue LED экраны
					.submenu
						a(href="#").submenu__link Интерьерные экраны
						a(href="#").submenu__link Уличные экраны 
						a(href="#").submenu__link Медиафасады
				.main-nav__item
					a(href="#").main-nav__link.red LCD панели и видеостены
				.main-nav__item
					a(href="#").main-nav__link.green Информационные киоски и столы
				.main-nav__item
					a(href="#").main-nav__link.orange Интерактивная навигация
				.main-nav__item
					a(href="#").main-nav__link.fiolet Кинетические потолки