<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Типовая страница
		include inc/head.pug
		include inc/css.pug
	body.inner.loading.page-project
		include inc/header-v2.pug

		main#content
			.content
				.project
					.project-banner
						figure.project-img
							img(src="img/photos/project-img-1.jpg")
								
						.project-banner__info
							.wrapper
								.project-banner__info-razdel LED экраны
								h1.project-banner__info-title Премиум букмейкерский<br> клуб OscarYard
								.project-banner__info-text Монтажные работы происходили в сжатые<br> сроки и только в ночное время.
					
					.project__cont
						.wrapper
							.project-top
								.project-top__item
									span.label Klant
									span.title Blueriq
								.project-top__item
									span.label Case
									span.title Een vernieuwd merk
								.project-top__item
									span.label Product
									span.title Rebranding & website
						.wrapper--min
							.project-text
								.text-page
									h2 Премиум букмейкерский клуб OscarYard
									p Видеоэкраны — прогрессивный инструмент наружной рекламы, а также эффективный источник визуальной информации для широкой аудитории. LED-дисплеи устанавливают на улицах городов, на фасадах зданий, на стадионах, внутри торговых центрах, в интерьере магазины, в витринах, на концертных площадках и в выставочных павильонах.
									p Неоспоримым преимуществом светодиодных экранов является бесшовное изображение. Картинка получается цельной, яркой и сочной. Звоните нам и мы подберем для Вас LED-экран, который оптимально подойдет для решения ваших задач.
									iframe(width="100%" height="600" src="https://www.youtube.com/embed/u8lpiT1Rd9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
									h2 Премиум букмейкерский клуб OscarYard
									p Видеоэкраны — прогрессивный инструмент наружной рекламы, а также эффективный источник визуальной информации для широкой аудитории. LED-дисплеи устанавливают на улицах городов, на фасадах зданий, на стадионах, внутри торговых центрах, в интерьере магазины, в витринах, на концертных площадках и в выставочных павильонах.
									p Неоспоримым преимуществом светодиодных экранов является бесшовное изображение. Картинка получается цельной, яркой и сочной. Звоните нам и мы подберем для Вас LED-экран, который оптимально подойдет для решения ваших задач.
									img(src="img/photos/project-img-2.jpg")
									p Видеоэкраны — прогрессивный инструмент наружной рекламы, а также эффективный источник визуальной информации для широкой аудитории. LED-дисплеи устанавливают на улицах городов, на фасадах зданий, на стадионах, внутри торговых центрах, в интерьере магазины, в витринах, на концертных площадках и в выставочных павильонах.
									p Неоспоримым преимуществом светодиодных экранов является бесшовное изображение. Картинка получается цельной, яркой и сочной. Звоните нам и мы подберем для Вас LED-экран, который оптимально подойдет для решения ваших задач.
									img(src="img/photos/project-img-3.jpg")
									img(src="img/photos/project-img-4.jpg")
									img(src="img/photos/project-img-2.jpg")
									img(src="img/photos/project-img-3.jpg")
						
						


		include inc/footer.pug
		include inc/scripts.pug
